/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EEEDEC;
  display: flex; /* Flexbox layout to align content */
  flex-direction: column; /* Stack content vertically */
  min-height: 100vh; /* Ensure body spans full height of viewport */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Top Bar */
.top-bar {
  background-color: #c96d6d;
  color: white;
  padding: 0.3125rem; /* 5px / 16px = 0.3125rem */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem; /* 1.5rem = 24px */
  width: 100%; /* Full width */
  box-shadow: 0.125rem 0.125rem 0.3125rem rgba(49, 36, 36, 0.2); /* 2px / 16px = 0.125rem */
  position: sticky;
  top: 0;
  z-index: 10; /* Ensure it's on top of other content */
  transition: transform 0.3s ease-in-out; /* Smooth slide effect */
}

.top-bar.hidden {
  transform: translateY(-100%); /* Hides the top bar when scrolling down */
  transition: transform 0.3s ease-in-out;
}

.top-bar h3 {
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.219); /* Adding text shadow */
}

.search-bar {
  padding: 0.3125rem;
  border: 1px solid #ddd;
  border-radius: 0.3125rem;
  font-size: 1rem;
}

/* Sidebar */
.sidebar {
  width: 15.625rem;
  padding: 1.25rem;
  background-color: #fff;
  box-shadow: 0.125rem 0 0.3125rem rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 3.125rem;
  height: 100%;
  transition: left 0.3s ease;
  overflow: hidden;
}

.sidebar.open {
  left: 0;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-pic {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-bottom: 0.625rem;
}

button {
  background-color: #c96d6d;
  color: white;
  border: none;
  padding: 0.5rem 0.9375rem;
  cursor: pointer;
  margin-bottom: 0.625rem;
  border-radius: 0.3125rem;
}

/* Content Area */
.content {
  margin-left: 18.75rem;
  padding: 1.25rem;
}

/* Status Feed */
.status-feed {
  margin-top: 5rem;
}

.status-carousel {
  display: flex;
  overflow-x: scroll;
}

.status {
  margin-right: 0.625rem;
}

.status img {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
}

/* News Carousel */
.news-carousel {
  display: flex;
  overflow-x: scroll;
}

.news-item {
  background-color: white;
  padding: 0.625rem;
  margin-right: 0.625rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.news-item img {
  width: 12.5rem;
  height: 12.5rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.user-card {
  background: white;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  text-align: center;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 0.625rem;
  background-color: #c96d6d;
  color: white;
}